$button-class: #{$prefix-cls}button;
#{$button-class} {
    display: inline-block;
    text-align: center;
    border-radius: $border-radius-button;
    border: 1px solid transparent;
    cursor: pointer;
    box-sizing: border-box;
    color: $font-color-main;
    margin: 2px 0;
    transition: all ease-in-out 0.3s;
    &#{$button-class}-small {
        padding: 0 10px;
        height: 30px;
        line-height: 30px;
        font-size: 12px;
    }
    &#{$button-class}-middle {
        padding: 0 15px;
        height: 35px;
        line-height: 35px;
        font-size: 14px;
    }
    &#{$button-class}-larger {
        padding: 0 25px;
        height: 45px;
        line-height: 45px;
        font-size: 16px;
    }
    &:disabled,
    &:disabled:hover {
        background: $border-color-main;
        border-color: $border-color-main;
        color: #fff;
        cursor: not-allowed;
    }
}

#{$button-class}-default {
    background: none;
    border: 1px solid $primary-color;
    &:hover {
        border: 1px solid $primary-color;
        color: $primary-color;
    }
}

#{$button-class}-primary {
    background: $primary-color;
    color: #fff;
    &:hover {
        background: $dark-color;
    }
}

#{$button-class}-ghost {
    border: 1px solid $primary-color;
    &:hover {
        border: 1px solid $primary-color;
        color: $primary-color;
    }
}

#{$button-class}-dashed {
    border: 1px dashed $primary-color;
    &:hover {
        border: 1px dashed $primary-color;
        color: $primary-color;
    }
}
