$radio-class: #{$prefix-cls}radio;
$checkbox-class: #{$prefix-cls}checkbox;
$switch-class: #{$prefix-cls}switch;
//基本尺寸
$default-size: 14px;
$middle-size: 16px;
$larger-size: 20px;
$switch-default-size: 20px;
$switch-middle-size: 24px;
$switch-larger-size: 28px;
$border-width: 3px;
//radio不同的尺寸样式
@mixin radio-size($type: small, $size: $default-size) {
    &-#{$type} #{$radio-class} {
        width: $size;
        height: $size;
        &:after {
            width: $size - $border-width*2;
            height: $size - $border-width*2;
            left: $border-width;
            top: $border-width;
        }
    }
}

//checkbox不同的尺寸样式
@mixin checkbox-size($type: small, $size: $default-size, $border: 2) {
    &-#{$type} #{$checkbox-class} {
        width: $size;
        height: $size;
        &:after {
            width: $border * 2px;
            height: $border * 4px;
            left: $border * 2px;
            border: $border solid #fff;
            border-top: 0;
            border-left: 0;
        }
    }
}

//switch不同的尺寸样式
@mixin switch-size($type: small, $size: $switch-default-size) {
    &-#{$type} #{$switch-class} {
        height: $size;
        padding-left: $size * 1.6 + 10;
        &:before {
            width: $size * 1.6;
            height: $size;
            border-radius: $size / 2;
        }
        &:after {
            width: $size;
            height: $size;
        }
    }
    &-#{$type} [type=checkbox] {
        &:checked~#{$switch-class}:after {
            left: $size * 0.6 + 1;
        }
    }
}

#{$radio-class}-warp {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    margin-right: 8px;
    cursor: pointer;
    #{$radio-class} {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        top: 0;
        left: 0;
        background: #fff;
        border: 1px solid $primary-color;
        transition: all .2s ease-in-out;
        border-radius: 50%;
        &:after {
            content: " ";
            position: absolute;
            display: table;
            border-radius: 50%;
            border-top: 0;
            border-left: 0;
            background: $primary-color;
            opacity: 0;
            transition: all .2s ease-in-out;
            transform: scale(0);
        }
    }
    [type=radio]:checked~#{$radio-class}:after {
        opacity: 1;
        transform: scale(1);
    } //禁用
    &#{$radio-class}-disabled {
        cursor: not-allowed;
        #{$radio-class} {
            background: $border-color-little;
            border-color: $border-color-less;
            &:after {
                background: grayscale($primary-color);
            }
        }
    }
    @include radio-size();
    @include radio-size($type: middle, $size: $middle-size);
    @include radio-size($type: larger, $size: $larger-size);
}

#{$checkbox-class}-warp {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    margin-right: 8px;
    cursor: pointer;
    #{$checkbox-class} {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 14px;
        height: 14px;
        top: 0;
        left: 0;
        border: 1px solid $primary-color;
        border-radius: 2px;
        background: #fff;
        transition: border-color .2s ease-in-out, background .2s ease-in-out;
        &:after {
            content: "";
            position: absolute;
            display: table;
            top: 0;
            left: 4px;
            border: 2px solid #fff;
            transform: rotate(45deg) scale(0);
            transition: all .2s ease-in-out;
        }
    }
    [type=checkbox]:checked~#{$checkbox-class} {
        border-color: $primary-color;
        background: $primary-color;
        &:after {
            transform: rotate(45deg) scale(1);
        }
    } //禁用
    &#{$checkbox-class}-disabled {
        cursor: not-allowed;
        #{$checkbox-class},
        [type=checkbox]:checked~#{$checkbox-class} {
            background: $border-color-little;
            border-color: $border-color-less;
        }
    }
    @include checkbox-size();
    @include checkbox-size($type: middle, $size: $middle-size, $border: 2.5);
    @include checkbox-size($type: larger, $size: $larger-size, $border: 3);
}

#{$switch-class}-warp {
    margin-right: 5px;
    user-select: none;
    cursor: pointer;
    #{$switch-class}-text {
        user-select: none;
        font-size: 14px;
    }
    #{$switch-class} {
        position: relative;
        vertical-align: middle;
        user-select: none;
        &:before {
            content: ' ';
            position: absolute;
            box-sizing: border-box;
            left: 0;
            top: 0;
            z-index: 1;
            border: 1px solid darken($border-color-less, 0.8);
            transition: all ease-in-out 0.3s;
        }
        &:after {
            content: ' ';
            position: absolute;
            box-sizing: border-box;
            left: 0;
            top: 0;
            z-index: 2;
            border-radius: 50%;
            background: #fff;
            border: 1px solid $border-color-less;
            transition: all ease-in-out 0.3s;
        }
    }
    [type=checkbox] {
        &:checked~#{$switch-class}:before {
            background: $primary-color;
            border-color: $primary-color;
        }
    } //禁用
    &#{$switch-class}-disabled {
        cursor: not-allowed;
        #{$switch-class}:before {
            background: $border-color-less;
            border-color: darken($border-color-less, 1.5);
        }
        [type=checkbox]:checked~#{$switch-class}:before {
            background: grayscale($primary-color);
            border-color: grayscale($primary-color);
        }
    }
    @include switch-size();
    @include switch-size($type: middle, $size: $switch-middle-size);
    @include switch-size($type: larger, $size: $switch-larger-size);
}
