$checkbox-class: #{$prefix-cls}checkbox;
$switch-class: #{$prefix-cls}switch;
$radio-class: #{$prefix-cls}radio;
#{$checkbox-class}-warp {
    margin-right: 5px;
    @extend .vui-dis-selected;
    #{$checkbox-class}-text {
        @extend .vui-can-selected;
        color: #666;
        font-size: 14px;
    }
    #{$checkbox-class} {
        position: relative;
        height: 20px;
        padding-left: 22px;
        &:before {
            content: ' ';
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            width: 16px;
            height: 16px;
            border-radius: 3px;
            background: $primary-color;
            -webkit-box-shadow: 0 0 2px 2px rgba(112, 115, 148, 0.4);
            -moz-box-shadow: 0 0 2px 2px rgba(112, 115, 148, 0.4);
            box-shadow: 0 0 2px 2px rgba(112, 115, 148, 0.4);
            -webkit-transition: background ease-in-out 0.4s;
            -moz-transition: background ease-in-out 0.4s;
            transition: background ease-in-out 0.4s;
        }
        &:after {
            content: ' ';
            position: absolute;
            left: 2px;
            top: 2px;
            z-index: 2;
            width: 12px;
            height: 12px;
            border-radius: 2px;
            background: $border-color-less;
            -webkit-box-shadow: 0 0 2px 2px rgba(112, 115, 148, 0.4);
            -moz-box-shadow: 0 0 2px 2px rgba(112, 115, 148, 0.4);
            box-shadow: 0 0 2px 2px rgba(112, 115, 148, 0.4);
            -webkit-transition: background ease-in-out 0.4s;
            -moz-transition: background ease-in-out 0.4s;
            transition: background ease-in-out 0.4s;
        }
    }
    [type=checkbox] {
        &:checked~#{$checkbox-class}:after {
            /*加勾*/
            content: '\2714';
            color: #fff;
            line-height: 6px;
            font-size: 18px;
            background: $primary-color;
            -webkit-box-shadow: 0 0 2px 2px rgba(112, 115, 148, 0);
            -moz-box-shadow: 0 0 2px 2px rgba(112, 115, 148, 0);
            box-shadow: 0 0 2px 2px rgba(112, 115, 148, 0);
        }
        &:checked~#{$checkbox-class}:before {
            background: $border-color-less;
        }
    }
}

//------checkbox end------
//-----switch start-----
#{$switch-class}-warp {
    margin-right: 5px;
    @extend .vui-dis-selected;
    #{$switch-class}-text {
        @extend .vui-can-selected;
        color: #666;
        font-size: 14px;
    }
    #{$switch-class} {
        position: relative;
        height: 20px;
        padding-left: 42px;
        &:before {
            content: ' ';
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            width: 32px;
            height: 16px;
            border-radius: 12px;
            background: $border-color-less;
            -webkit-box-shadow: 0 0 2px 2px rgba(112, 115, 148, 0.4);
            -moz-box-shadow: 0 0 2px 2px rgba(112, 115, 148, 0.4);
            box-shadow: 0 0 2px 2px rgba(112, 115, 148, 0.4);
            -webkit-transition: background ease-in-out 0.3s;
            -moz-transition: background ease-in-out 0.3s;
            transition: background ease-in-out 0.3s;
        }
        &:after {
            content: ' ';
            position: absolute;
            left: 3px;
            top: 2px;
            z-index: 2;
            width: 12px;
            height: 12px;
            border-radius: 50%;
            background: #fff;
            -webkit-box-shadow: 0 0 2px 2px rgba(112, 115, 148, 0.4);
            -moz-box-shadow: 0 0 2px 2px rgba(112, 115, 148, 0.4);
            box-shadow: 0 0 2px 2px rgba(112, 115, 148, 0.4);
            -webkit-transition: left ease-in-out 0.3s;
            -moz-transition: left ease-in-out 0.3s;
            transition: left ease-in-out 0.3s;
        }
    }
    [type=checkbox] {
        &:checked~#{$switch-class}:before {
            background: $primary-color;
        }
        &:checked~#{$switch-class}:after {
            left: 17px;
            -webkit-box-shadow: 0 0 2px 2px rgba(112, 115, 148, 0);
            -moz-box-shadow: 0 0 2px 2px rgba(112, 115, 148, 0);
            box-shadow: 0 0 2px 2px rgba(112, 115, 148, 0);
        }
    }
}

//------checkbox end------
//-----radio start-----
#{$radio-class}-warp {
    margin-right: 5px;
    @extend .vui-dis-selected;
    #{$radio-class}-text {
        @extend .vui-can-selected;
        color: #666;
        font-size: 14px;
    }
    #{$radio-class} {
        position: relative;
        height: 20px;
        padding-left: 22px;
        &:before {
            content: ' ';
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background: $primary-color;
            -webkit-box-shadow: 0 0 2px 2px rgba(112, 115, 148, 0.4);
            -moz-box-shadow: 0 0 2px 2px rgba(112, 115, 148, 0.4);
            box-shadow: 0 0 2px 2px rgba(112, 115, 148, 0.4);
            -webkit-transition: background ease-in-out 0.4s;
            -moz-transition: background ease-in-out 0.4s;
            transition: background ease-in-out 0.4s;
        }
        &:after {
            content: ' ';
            position: absolute;
            left: 3px;
            top: 3px;
            z-index: 2;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background: $border-color-less;
            -webkit-box-shadow: 0 0 2px 2px rgba(112, 115, 148, 0.4);
            -moz-box-shadow: 0 0 2px 2px rgba(112, 115, 148, 0.4);
            box-shadow: 0 0 2px 2px rgba(112, 115, 148, 0.4);
            -webkit-transition: background ease-in-out 0.4s;
            -moz-transition: background ease-in-out 0.4s;
            transition: background ease-in-out 0.4s;
        }
    }
    [type=radio] {
        &:checked~#{$radio-class}:after {
            color: #fff;
            background: $primary-color;
            -webkit-box-shadow: 0 0 2px 2px rgba(112, 115, 148, 0);
            -moz-box-shadow: 0 0 2px 2px rgba(112, 115, 148, 0);
            box-shadow: 0 0 2px 2px rgba(112, 115, 148, 0);
        }
        &:checked~#{$radio-class}:before {
            background: $border-color-less;
        }
    }
}
