// $border-color: #EDEDED;
$datepikcer-span-height: 30px;
$datepikcer-header-height: 40px;
$datepikcer-width: 300px;
.vui-datePicker-warp {
    position: relative;
}

.vui-datePicker-input {
    box-sizing: border-box;
    width: 300px;
    height: 30px;
    text-indent: 1em;
    border: 1px solid $border-color-less;
}

.vui-datePicker-panel-warp {
    position: absolute;
    left: 0;
    top: 30px;
    width: $datepikcer-width;
    max-height: 300px;
    padding-bottom: 10px;
    background: #fff;
    border: 1px solid $border-color-less;
    box-sizing: border-box;
}

.vui-datePicker-change {
    position: relative;
    height: $datepikcer-header-height;
    line-height: $datepikcer-header-height;
    text-align: center;
    font-size: 0;
    span,
    label {
        display: inline-block;
        text-align: top;
        font-size: 12px;
    }
    .vue-datePicker-change-btn {
        cursor: pointer;
    }
    .vui-datePicker-header {
        span {
            width: 49px;
        }
        label {
            width: 100px;
        }
    }
    .vui-datePicker-yearMonth {
        position: absolute;
        top: $datepikcer-header-height;
        left: 25px;
        width: 150px;
        height: 120px;
        background: #fff;
        border-top: 1px solid darken($border-color-less, 5%);
        border-left: 1px solid darken($border-color-less, 5%);
        span {
            float: left;
            width: 50px;
            height: $datepikcer-span-height;
            line-height: $datepikcer-span-height;
            box-sizing: border-box;
            border-bottom: 1px solid darken($border-color-less, 5%);
            border-right: 1px solid darken($border-color-less, 5%);
            cursor: pointer;
            span:nth-child(3n) {
                border-right: 0;
            }
        }
        &.vui-datePicker-month {
            left: 125px;
        }
    }
}

.vui-datpaicker-days {
    border-top: 1px solid $border-color-less;
    padding: 0 9px;
    font-size: 0;
    span {
        display: inline-block;
        box-sizing: border-box;
        width: ($datepikcer-width - 20)/7 - 4;
        height: $datepikcer-span-height;
        line-height: $datepikcer-span-height;
        text-align: center;
        font-size: 12px;
        margin: 3px 2px;
        &.vui-this-month {
            color: #333;
            cursor: pointer;
            transition: all ease-in-out 0.1s;
        }
        &:nth-child(7n),
        &:nth-child(7n+1) {
            color: #f30;
        }
    }
    .vui-datpaicker-day-box span {
        border-radius: 3px;
        cursor: pointer;
    }
    .vui-datpaicker-day-box span:not(.vui-this-month) {
        color: $font-color-light;
        cursor: inherit;
    }
    .vui-this-month:hover {
        background: darken($border-color-less, 10%);
        color: #fff;
    }
    .vui-datpaicker-day-box .vui-selected-day {
        background: $primary-color;
        color: #fff;
    }
}
