$datePicker-class: #{$prefix-cls}datePicker;
$datepikcer-span-height: 30px;
$datepikcer-header-height: 40px;
$datepikcer-width: 300px;
#{$datePicker-class}-warp {
    position: relative;
    display: inline-block;
    width: $datepikcer-width;
}

#{$datePicker-class}-input {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 100%;
    height: $datepikcer-span-height;
    border: 1px solid $border-color-less;
    input {
        text-indent: 1em;
        width: 270px;
        height: 100%;
    }
    i {
        position: absolute;
        top: 6px;
        right: 5px;
        font-size: 16px;
    }
}

#{$datePicker-class}-panel-warp {
    position: absolute;
    left: 0;
    top: $datepikcer-span-height +5;
    width: $datepikcer-width;
    max-height: 300px;
    padding-bottom: 10px;
    background: #fff;
    border: 1px solid $border-color-less;
    box-sizing: border-box;
}

#{$datePicker-class}-change {
    position: relative;
    height: $datepikcer-header-height;
    line-height: $datepikcer-header-height;
    text-align: center;
    font-size: 0;
    span,
    label {
        display: inline-block;
        text-align: top;
        font-size: 12px;
    }
    #{$datePicker-class}-change-btn {
        cursor: pointer;
    }
    #{$datePicker-class}-header {
        span {
            width: 49px;
        }
        label {
            width: 100px;
        }
    }
    #{$datePicker-class}-yearMonth {
        position: absolute;
        top: $datepikcer-header-height;
        left: 25px;
        width: 150px;
        height: 120px;
        background: #fff;
        border-top: 1px solid darken($border-color-less, 5%);
        border-left: 1px solid darken($border-color-less, 5%);
        span {
            float: left;
            width: 50px;
            height: $datepikcer-span-height;
            line-height: $datepikcer-span-height;
            box-sizing: border-box;
            border-bottom: 1px solid darken($border-color-less, 5%);
            border-right: 1px solid darken($border-color-less, 5%);
            cursor: pointer;
            span:nth-child(3n) {
                border-right: 0;
            }
        }
        &#{$datePicker-class}-month {
            left: 125px;
        }
    }
}

#{$datePicker-class}-days {
    border-top: 1px solid $border-color-less;
    padding: 0 9px;
    font-size: 0;
    span {
        display: inline-block;
        box-sizing: border-box;
        width: ($datepikcer-width - 20)/7 - 4;
        height: $datepikcer-span-height;
        line-height: $datepikcer-span-height;
        text-align: center;
        font-size: 12px;
        margin: 3px 2px;
        &#{$datePicker-class}-this-month {
            color: #333;
            cursor: pointer;
            transition: all ease-in-out 0.1s;
        }
        &:nth-child(7n),
        &:nth-child(7n+1) {
            color: #f30;
        }
    }
    #{$datePicker-class}-day-box span {
        border-radius: 3px;
        cursor: pointer;
    }
    #{$datePicker-class}-day-box span:not(#{$datePicker-class}-this-month) {
        color: $font-color-light;
        cursor: inherit;
    }
    #{$datePicker-class}-this-month:hover {
        background: darken($border-color-less, 10%);
        color: #fff;
    }
    #{$datePicker-class}-day-box #{$datePicker-class}-selected-day {
        background: $primary-color;
        color: #fff;
    }
}
