$menu-class: #{$prefix-cls}menu;
#{$menu-class}>ul {
    border: 1px solid $border-color-less;
    border-bottom: none;
}

#{$menu-class}-items {
    background: #fff;
    border-top: 1px solid $border-color-little;
    p {
        width: 100%;
        box-sizing: border-box;
        transition: background ease-in-out 0.2s;
    }
    #{$menu-class}-custom {
        padding: 8px 10px;
    }
    a {
        display: block;
        padding: 8px 10px;
        transition: all ease-in-out 0.2s;
    }
    li {
        border-bottom: 1px solid $border-color-little;
        cursor: pointer;
        color: #333;
        &>p:hover {
            background: $border-color-little;
            color: #333;
        }
        &#{$menu-class}-actived>p {
            background: $primary-color;
            color: #fff;
        }
    }
}

#{$menu-class}-items-enter-active {
    transition: all .3s ease-in-out;
}

#{$menu-class}-items-leave-active {
    transition: all .3s ease-in-out;
}

#{$menu-class}-items-enter,
#{$menu-class}-items-leave-to {
    transform: translateX(5px);
    opacity: 0;
}
