$modal-class: #{$prefix-cls}modal;
$loading-class: #{$prefix-cls}loading;
// 遮罩层
#{$modal-class}-shade {
    z-index: 999999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: $bg-shade;
}

//弹窗
#{$modal-class} {
    position: relative;
    width: 350px;
    top: 50%;
    margin: -100px auto;
    background: #fff;
    text-align: center;
    border-radius: $border-radius-modal;
    #{$modal-class}-header {
        border-bottom: 1px solid $border-color-little;
        #{$modal-class}-title {
            @extend #{$prefix-cls}title;
            margin-left: 20px;
            text-align: left;
        }
        #{$modal-class}-close {
            float: right;
            cursor: pointer;
            text-align: center;
            line-height: 40px;
            width: 40px;
            &:hover {
                color: $font-color-dark;
                font-size: 20px;
            }
        }
    }
    #{$modal-class}-body {
        padding: $modal-margin;
    }
    #{$modal-class}-footer {
        position: relative;
        bottom: 0;
        height: 60px;
        line-height: 60px;
        border-top: 1px solid $border-color-little;
        padding-top: $box-padding;
    }
}

//loading动画
@keyframes loading {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#{$loading-class}-progress {
    position: relative;
    width: 300px;
    height: 100px;
    top: 50%;
    margin: -50px auto;
    text-align: center;
    user-select: none;
    p {
        color: #fff;
        margin-bottom: 10px;
    }
    span {
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 10px;
        margin: 3px;
        background: darken($dark-color, 10%);
        border-radius: 10px;
        animation: loading 1s infinite alternate;
        &:nth-of-type(2) {
            background: $dark-color;
            animation-delay: 0.2s;
        }
        &:nth-of-type(3) {
            background: $primary-color;
            animation-delay: 0.4s;
        }
        &:nth-of-type(4) {
            background: lighten($primary-color, 10%);
            animation-delay: 0.6s;
        }
        &:nth-of-type(5) {
            background: lighten($primary-color, 5%);
            animation-delay: 0.8s;
        }
        &:nth-of-type(6) {
            background: darken($primary-color, 5%);
            animation-delay: 1.0s;
        }
    }
}
