.vui-button{
    display: inline-block;
    padding: 0 10px;
    margin-right: 10px;
    height: 28px;
    line-height: 28px;
    // border: 1px solid @border-color-1;
    background: #A385E0;
    // font-size: @font-size-base;
    text-align: center;
    color: #fff;
    border-radius: @border-radius-button;
    cursor: pointer;
}